@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 100;
  src: url("./Pretendard-Thin.ttf") format("ttf");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 200;
  src: url("./Pretendard-ExtraLight.ttf") format("ttf");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 300;
  src: url("./Pretendard-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: url("./Pretendard-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("./Pretendard-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  src: url("./Pretendard-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  src: url("./Pretendard-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 800;
  src: url("./Pretendard-ExtraBold.ttf") format("ttf");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 900;
  src: url("./Pretendard-Black.ttf") format("ttf");
}
