@import "/src/assets/fonts/Font.css";

body {
  margin: 0;
  font-family: "Pretendard";
  color: #262626;
  background-color: white;
}

div {
  box-sizing: border-box;
}

a {
  color: #262626;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}

select {
  -webkit-appearance: none; /* for chrome */

  -moz-appearance: none; /*for firefox*/

  appearance: none;
}

select::-ms-expand {
  display: none; /*for IE10,11*/
}
